{{ block "column" . }}
<div class="column">
    <h2>Title</h2>
    <ol class="ordered-list">
        {{ range .Columns }}
        <li class="ordered-list_listitem">
            {{ template "columnitem" . }}
        </li>
        {{ end }}
    </ol>
</div>
{{ end }}

{{ block "columnitem" . }}
<div class="column_item">
    <h3>Item title</h3>
    <p>Item description</p>
    <p>Time spent: 10h</p>
</div>
{{ end }}

{{ define "kanban" }}
<html>
    <head>
        <link rel="stylesheet" href="/static/style.css">
        <script defer src="/static/htmx.min.js"></script>
    </head>
    <body hx-boost="true">
        {{ template "project" . }}
    </body>
</html>
{{ end }}