
{{ block "projectcards" . }}
<ul>
    {{ range . }}
    {{ template "projectcard" .}}
    {{ end }}
</ul>
{{ end }}

{{ block "projectcard" . }}
<li>
    <a href="/project/{{ .ID }}/board">
        <div class="card">
            <h2>{{ .Title }}</h2>
            <p>{{ .Description }}</p>
            <p>Opprettet: <time>{{ .Created }}</time></p>
        </div>
    </a>
</li>
{{ end }}

{{ define "createnewproject" }}
<div>
    <form hx-post="/project/new" hx-target="previous ul" hx-swap="beforeend">
        Tittel: <input type="text" name="title">
        Beskrivelse: <textarea rows="5" cols="10" name="description"></textarea>
        <button type="submit">Opprett</button>
    </form>
</div>
{{ end }}

{{ define "project" }}
<main>
    <h1>{{ .Title }}</h1>
    <div class="boards">
        {{ range .Boards }}
        {{ template "board" . }}
        {{ end }}
    </div>
</main>
{{ end }}

{{ block "board" . }}
<details open class="board">
    <summary class="board_summary">{{ .Title }}</summary>
    <ol class="columns">
        {{ range .Columns }}
        {{ template "column" . }}
        {{ end }}
    </ol>
</details>
{{ end }}

{{ block "column" . }}
<li>
    {{ if eq .ColumnType 0 }}
        <div class="column column_nil">
            <h3>{{ .Title }}</h3>
        </div>
    {{ else if eq .ColumnType 1 }}
        <div class="column column_one">
            <h3>{{ .Title }}</h3>
        </div>
    {{ else if eq .ColumnType 2 }}
        <div class="column column_two">
            <h3>{{ .Title }}</h3>
        </div>
    {{ end }}
</li>
{{ end }}