form {
    display: flex;
    gap: 1em;
    flex-direction: column;
    max-width: fit-content;
}

ul {
    list-style-type: none;
}

.card {
    display: flex;
    flex-direction: column;
    border: 1px solid;
    border-radius: 0.25em;
    padding: 1em;
    max-width: fit-content;
}