:root {
    --dull-lavender: #A09FE6;
    --milan: #F5FFA2;
    --anakiwa: #9FD1FF;
    --hopbush: #CC759A;
    --vivid-tangerine: #FF8B8B;
    --mint-green: #AAFFA2;
}

html, body {
    height: 100%;
}

form {
    display: flex;
    gap: 0.5em;
    flex-direction: column;
    max-width: fit-content;
}

ul, ol {
    list-style-type: none;
}

.projectcards {
    display: flex;
    gap: 1em;
}

.card {
    box-shadow: 0 0.25em 0.5em 0 rgb(0 0 0 / 0.2);
    max-width: 20em;
    margin: auto;
    text-align: center;
    padding: 1em;
}

.projectitems_list {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0.5em;
    display: flex;
    flex-direction: column;
    gap: 0.25em;
}

.projectitem {
    border: 1px solid black;
    background-color: rgb(255 255 255 / 0.8);
    padding: 0.5em 1em;
    border-radius: 0.25em;
}

.projectitem > h3 {
    margin: 1em 0;
}

.projectitem > p {
    margin: 0.25em 0;
}

.projectitem_toolbar {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 0.5em;
    padding-top: 0.5em;
    border-top: 1px solid black;
}

.errors {
    list-style-type: initial;
    padding-left: 1em;
    color: red;
}

details {
    background-color: rgb(159 209 255 / 60%);
    border-top: 0.125em solid black;
    border-left: 0.125em solid black;
    border-right: 0.125em solid black;
    border-bottom: 0.25em solid black;
    padding: 0.5em;
}

details[open] {
    background-color: rgb(159 209 255);
}

details > summary {
    padding: 0.25em;
    cursor: pointer;
}

details[open] > summary {
    border-bottom: 0.05em solid black;
}

.board_summary {
    font-size: x-large;
}

.columns {
    background-color: inherit;
    display: flex;
    gap: 2.5em;
    padding: 0.5em 1em;
}

.columns > li {
    width: 100%;
    max-width: 20vw;
}

.column {
    padding: 0.25em;
    border-radius: 0.5em;
    border-top: 0.25em solid;
    border-left: 0.125em solid;
    border-right: 0.125em solid;
    border-bottom: 0.25em solid;
    background-color: rgb(235 235 235 / 0.9);
    height: 100%;
}

.column_top {
    display: flex;
    justify-content: space-between;
    padding: 1em 0.25em;
    margin-bottom: 0.25em;
    border-bottom: 0.05em solid rgb(0 0 0 / 0.2);
}

.column_header {
    margin: 0;
}

.counter {
    margin: 0.5em 0;
}

.column_nil {
    border-color: var(--vivid-tangerine);
}

.column_one {
    border-color: var(--milan)
}

.column_two {
    border-color: var(--mint-green);
}

.board_toolbar {
    width: 100%;
    text-align: end;
    margin: 1em 0;
    padding: 0.5em 0;
    border-bottom: 1px dotted;
}